.u-section-1-1 {
  background-image: url("images/slidebar1.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 246px auto 0 60px;
}

.u-section-1-1 .u-text-2 {
  margin: 14px auto 0 60px;
}

.u-section-1-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 40px auto 60px 65px;
  padding: 17px 81px 17px 80px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-left: 38px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 34px;
    margin-left: 14px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 252px;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-position: 100% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 369px;
    margin-right: 14px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin: 16px -38px 33px auto;
    padding: 1px 0 2px;
  }
}.u-section-1-2 {
  background-image: url("images/slidebar2.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 259px auto 0 20px;
}

.u-section-1-2 .u-text-2 {
  margin: 10px auto 0 30px;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 33px auto 60px 20px;
  padding: 17px 81px 17px 80px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-2 {
    margin-left: 25px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 12px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 7px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    background-position: 100% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 6px;
    margin-left: -25px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 0;
    margin-right: 227px;
    margin-left: -25px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 109px;
    margin-bottom: 36px;
    padding: 0 0 4px;
  }
}.u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7-1 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -194px 548px 0 480px;
}

.u-section-7-1 .u-text-2 {
  margin: -117px 0 60px 457px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-text-1 {
    margin-top: -195px;
    margin-right: 448px;
    margin-left: 396px;
  }

  .u-section-7-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 448px;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7-1 .u-image-1 {
    width: 281px;
    height: 281px;
    margin-top: 83px;
  }

  .u-section-7-1 .u-text-1 {
    width: auto;
    margin-top: -88px;
    margin-right: -312px;
    margin-left: 327px;
  }

  .u-section-7-1 .u-text-2 {
    width: auto;
    margin-top: -166px;
    margin-right: 15px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-text-1 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 227px;
  }

  .u-section-7-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-7-1 .u-text-1 {
    width: 197px;
    margin-left: auto;
  }

  .u-section-7-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7-2 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-2 .u-text-1 {
  margin: -279px 15px 0 442px;
}

.u-section-7-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px -458px 60px 458px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-text-1 {
    margin-top: -474px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-7-2 .u-text-2 {
    margin-top: 209px;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7-2 .u-image-1 {
    width: 265px;
    height: 265px;
  }

  .u-section-7-2 .u-text-1 {
    width: auto;
    margin-top: -210px;
    margin-right: 15px;
    margin-left: 299px;
  }

  .u-section-7-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 9px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;
  }

  .u-section-7-2 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-7-2 .u-image-1 {
    margin-top: 17px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7-2 .u-text-1 {
    margin-top: 68px;
  }

  .u-section-7-2 .u-text-2 {
    margin-top: -176px;
    margin-right: 60px;
    margin-left: 83px;
  }
}.u-section-7-3 {
  background-image: none;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 425px;
}

.u-section-7-3 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-3 .u-text-1 {
  margin: -328px 0 0 457px;
}

.u-section-7-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px -467px 60px 467px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-text-1 {
    margin-top: -523px;
    margin-left: 257px;
  }

  .u-section-7-3 .u-text-2 {
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-7-3 .u-text-1 {
    margin-top: -390px;
    margin-left: 37px;
  }

  .u-section-7-3 .u-text-2 {
    width: auto;
    margin-top: 232px;
    margin-right: 15px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7-3 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-image-1 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-7-3 .u-text-1 {
    margin-top: 53px;
  }

  .u-section-7-3 .u-text-2 {
    width: 197px;
    margin-top: -159px;
    margin-left: auto;
    margin-right: auto;
  }
}.u-block-2125-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2125-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-2125-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 152px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 56px auto 0 72px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -25px auto 0 116px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 116px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: -51px auto 0 343px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -25px auto 0 387px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 387px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: -52px auto 0 642px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -25px auto 0 686px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 0 686px;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: -52px auto 0 924px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: -25px auto 0 968px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 auto 44px 968px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 642px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 908px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-left: 908px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 908px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-icon-4 {
    margin-top: 20px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 642px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 642px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-icon-3 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 508px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 18px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-left: 75px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 19px;
    margin-left: 75px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 26px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 38px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: 19px 113px 57px auto;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 707px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 567px;
  height: auto;
  margin: 0 763px 0 58px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -567px 0 0 545px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 30px 174px 0 545px;
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 22px 454px 0 559px;
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 98px 348px 0 545px;
}

.u-section-3 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -515px 446px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: 135px -257px 0 auto;
}

.u-section-3 .u-image-3 {
  width: 359px;
  height: 359px;
  animation-duration: 1000ms;
  margin: -644px -25px 0 auto;
}

.u-section-3 .u-line-1 {
  width: 122px;
  height: 11px;
  transform-origin: left center 0px;
  margin: -234px auto 0 186px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -21px 954px 0 82px;
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: -32px 1066px 406px 49px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 804px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 621px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 449px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 449px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 429px;
    margin-left: 459px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 248px;
    margin-left: 449px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 836px;
    margin-left: 68px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 915px;
    margin-left: 41px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 401px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-right: -50px;
    margin-left: 394px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    font-size: 2.25rem;
    margin-right: -50px;
    margin-left: 394px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 160px;
    margin-left: 394px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-right: -40px;
    margin-left: 384px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 344px;
  }

  .u-section-3 .u-image-2 {
    margin-right: -226px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 0;
  }

  .u-section-3 .u-line-1 {
    margin-left: 135px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 135px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 695px;
    margin-left: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: 221px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: -20px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 247px;
    margin-left: 171px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 515px;
    margin-bottom: 60px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 81px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -187px;
    margin-right: 12px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
    margin-right: 172px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 112px;
    margin-right: 94px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -475px;
    margin-right: auto;
    margin-left: -1px;
  }

  .u-section-3 .u-image-2 {
    margin-top: -406px;
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-right: -94px;
  }

  .u-section-3 .u-line-1 {
    margin-top: -424px;
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    margin: -26px 153px 60px 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 315px;
    margin-left: 25px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 807px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 26px auto 0 53px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: -39px 778px 0 53px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px 611px 0 53px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 16px 994px 0 53px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 380px auto 0 65px;
  padding: 17px 81px 17px 80px;
}

.u-section-4 .u-image-2 {
  width: 472px;
  height: 727px;
  margin: -708px 16px 0 auto;
}

.u-section-4 .u-custom-html-1 {
  min-height: 250px;
  height: auto;
  margin: -436px 517px 0 53px;
}

.u-section-4 .u-shape-1 {
  width: 43px;
  height: 49px;
  margin: 36px auto 60px 505px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 578px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 411px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 794px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 77px;
    margin-left: 53px;
  }

  .u-section-4 .u-image-2 {
    height: 726px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -340px;
    margin-right: 370px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1349px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 358px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 191px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: 546px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 195px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: auto;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -1042px;
    margin-right: 53px;
  }

  .u-section-4 .u-shape-1 {
    margin-right: 137px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1335px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 178px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 11px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 366px;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: -1035px;
    margin-right: 69px;
    margin-left: -16px;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -41px;
    margin-right: -43px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1361px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 13px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -36px;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 53px;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-top: 36px;
    margin-right: 227px;
    margin-left: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 857px;
    margin-left: -25px;
  }

  .u-section-4 .u-image-2 {
    height: 523px;
    margin-top: -900px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-custom-html-1 {
    margin-top: 35px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-shape-1 {
    margin-top: -8px;
    margin-right: -119px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 441px;
}

.u-section-5 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 0 auto 0 53px;
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  margin: -19px 829px 0 53px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 34px 764px 0 53px;
}

.u-section-5 .u-image-2 {
  width: 174px;
  height: 145px;
  margin: -149px auto 0 551px;
}

.u-section-5 .u-image-3 {
  width: 174px;
  height: 145px;
  margin: -137px 212px 0 auto;
}

.u-section-5 .u-image-4 {
  width: 174px;
  height: 145px;
  margin: -145px auto 0 958px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 15px 1007px 0 53px;
}

.u-section-5 .u-image-5 {
  width: 174px;
  height: 145px;
  margin: -32px auto 0 551px;
}

.u-section-5 .u-image-6 {
  width: 174px;
  height: 145px;
  margin: -145px 212px 0 auto;
}

.u-section-5 .u-image-7 {
  width: 174px;
  height: 145px;
  margin: -145px auto 21px 958px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 445px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 629px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 564px;
  }

  .u-section-5 .u-image-2 {
    height: 146px;
  }

  .u-section-5 .u-image-3 {
    height: 146px;
    margin-top: 106px;
  }

  .u-section-5 .u-image-4 {
    height: 146px;
    margin-top: -146px;
    margin-left: 766px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -229px;
    margin-right: 860px;
  }

  .u-section-5 .u-image-5 {
    height: 146px;
  }

  .u-section-5 .u-image-6 {
    height: 146px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 551px;
  }

  .u-section-5 .u-image-7 {
    height: 146px;
    margin-top: -146px;
    margin-bottom: 0;
    margin-left: 766px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 696px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 409px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 344px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 85px;
    margin-left: 74px;
  }

  .u-section-5 .u-image-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: 74px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 286px;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-right: 360px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 27px;
    margin-left: 286px;
  }

  .u-section-5 .u-image-6 {
    margin-left: 286px;
  }

  .u-section-5 .u-image-7 {
    margin: -312px 48px 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 817px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 164px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 34px;
    margin-left: 161px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 161px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 355px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -313px;
    margin-right: 270px;
  }

  .u-section-5 .u-image-5 {
    margin-top: -38px;
    margin-left: 355px;
  }

  .u-section-5 .u-image-6 {
    margin-left: 355px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 21px;
    margin-bottom: 54px;
    margin-left: 161px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 849px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -19px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -40px;
    margin-right: 82px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 33px;
    margin-right: -18px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 98px;
    margin-left: -4px;
  }

  .u-section-5 .u-image-3 {
    margin-left: 0;
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-top: -558px;
    margin-right: 137px;
    margin-left: 0;
  }

  .u-section-5 .u-image-5 {
    margin-top: 41px;
    margin-left: 166px;
  }

  .u-section-5 .u-image-6 {
    margin-left: 166px;
  }

  .u-section-5 .u-image-7 {
    margin-bottom: 60px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 139px 253px 0 292px;
}

.u-section-6 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-style: normal;
  margin: -117px auto 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 90px auto 0;
}

.u-section-6 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -309px auto 0;
}

.u-section-6 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: -17px -256px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 262px;
  height: 262px;
  animation-duration: 1000ms;
  margin: -422px 242px 0 auto;
}

.u-section-6 .u-repeater-1 {
  min-height: 422px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  margin-top: -26px;
  margin-bottom: 57px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 192px;
    margin-right: 209px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 348px;
    height: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: 118px;
    margin-right: initial;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 37px;
  }

  .u-section-6 .u-image-5 {
    margin-right: initial;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-image-6 {
    margin-right: initial;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 160px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -441px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -108px;
    margin-right: -226px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -394px;
    margin-right: 183px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 800px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 170px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-image-6 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 96px;
    margin-right: 221px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -448px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -57px;
    margin-right: -237px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -444px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1172px;
    grid-template-columns: 100%;
    margin-top: 163px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 145px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -355px;
    margin-left: -1px;
  }

  .u-section-6 .u-image-2 {
    margin-right: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -310px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 920px;
    margin-top: 247px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 12px;
  }
}.u-block-5c53-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5c53-3 {
  position: absolute;
  left: 0;
}

.u-block-5c53-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 249px;
  right: calc(((100% - 1140px) / 2)  + -65px);
}

@media (max-width: 1199px) {
  .u-block-5c53-4 {
    right: calc(((100% - 940px) / 2)  + -54px);
  }
}

@media (max-width: 991px) {
  .u-block-5c53-4 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-5c53-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-5c53-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-8 .u-form-1 {
  height: 77px;
  margin: 6px 0 0 485px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-8 .u-line-2 {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  margin-right: 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 969px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 453px 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 38px 0 922px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 922px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  margin: -56px 0 0 922px;
}

.u-section-8 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -56px auto 0 464px;
}

.u-section-8 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: 14px auto 0 464px;
}

.u-section-8 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: 14px auto 60px 464px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 7px;
    margin-right: 125px;
    margin-left: 160px;
  }

  .u-section-8 .u-line-2 {
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: 59px;
    margin-right: 769px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 353px;
    margin-right: 353px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 722px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 722px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 53px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 549px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 243px;
    margin-right: 243px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 502px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -61px;
    margin-right: -23px;
    margin-left: 525px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -51px;
    margin-left: 243px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 243px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 256px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: -243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-2 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 96px;
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 140px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: -294px;
    margin-right: 322px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 251px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -235px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 188px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    height: 140px;
    margin-top: -178px;
    margin-left: 20px;
  }

  .u-section-8 .u-line-2 {
    margin-top: -164px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    width: 171px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 158px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-8 .u-text-4 {
    width: 218px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: 218px;
    margin-top: -391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 85px;
    margin-left: 52px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 52px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 20px;
    margin-left: 52px;
  }
}