html,body{
  height:100%;
}
.carousel,.item,.active{
  height:100%;
}
.carousel-inner{
   height:100%;
}

.u-section-1-1 {
  background-image: url("images/Untitled-2.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 781px;
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-position: 58.77% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 251px;
  }
}.u-section-1-2 {
  background-image: url("images/Untitled-3.jpg");
  background-position: 100% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 781px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  margin: 149px 429px 0 0;
}

.u-section-1-2 .u-text-2 {
  font-size: 1.5rem;
  margin: 20px 30px 0;
}

.u-section-1-2 .u-btn-1 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 20px auto 60px 63px;
  padding: 16px 72px 16px 71px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 644px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 229px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1-2 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 86px;
    margin-right: -28px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 151px;
    margin-left: -50px;
    margin-right: -50px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
    margin-bottom: 32px;
    padding: 6px 26px 7px 24px;
  }
}.u-section-6-1 {
  background-image: none;
}

.u-section-6-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-6-1 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-6-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -194px 548px 0 480px;
}

.u-section-6-1 .u-text-2 {
  margin: -117px 0 60px 457px;
}

@media (max-width: 1199px) {
  .u-section-6-1 .u-text-1 {
    margin-top: -195px;
    margin-right: 448px;
    margin-left: 396px;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 448px;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-6-1 .u-image-1 {
    width: 281px;
    height: 281px;
    margin-top: 83px;
  }

  .u-section-6-1 .u-text-1 {
    width: auto;
    margin-top: -88px;
    margin-right: -312px;
    margin-left: 327px;
  }

  .u-section-6-1 .u-text-2 {
    width: auto;
    margin-top: -166px;
    margin-right: 15px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-6-1 .u-text-1 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 227px;
  }

  .u-section-6-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 59px;
    margin-left: 84px;
  }

  .u-section-6-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }
}.u-section-6-2 {
  background-image: none;
}

.u-section-6-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-6-2 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-6-2 .u-text-1 {
  margin: -279px 15px 0 442px;
}

.u-section-6-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px -458px 60px 458px;
}

@media (max-width: 1199px) {
  .u-section-6-2 .u-text-1 {
    margin-top: -474px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-6-2 .u-text-2 {
    margin-top: 209px;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-6-2 .u-image-1 {
    width: 265px;
    height: 265px;
  }

  .u-section-6-2 .u-text-1 {
    width: auto;
    margin-top: -210px;
    margin-right: 15px;
    margin-left: 299px;
  }

  .u-section-6-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 9px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-6-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;
  }

  .u-section-6-2 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-6-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6-2 .u-image-1 {
    height: 271px;
    width: 271px;
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-6-2 .u-text-1 {
    margin-top: 54px;
    margin-right: 0;
  }

  .u-section-6-2 .u-text-2 {
    margin: -159px 60px 0 83px;
  }
}.u-section-6-3 {
  background-image: none;
}

.u-section-6-3 .u-sheet-1 {
  min-height: 425px;
}

.u-section-6-3 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-6-3 .u-text-1 {
  margin: -328px 0 0 457px;
}

.u-section-6-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px -467px 60px 467px;
}

@media (max-width: 1199px) {
  .u-section-6-3 .u-text-1 {
    margin-top: -523px;
    margin-left: 257px;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-6-3 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: -390px;
    margin-left: 37px;
  }

  .u-section-6-3 .u-text-2 {
    width: auto;
    margin-top: 232px;
    margin-right: 15px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-6-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6-3 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-6-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-6-3 .u-image-1 {
    margin-top: 44px;
    margin-left: 31px;
  }

  .u-section-6-3 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-6-3 .u-text-2 {
    width: 197px;
    margin: -175px auto 0;
  }
}.u-block-2125-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2125-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-2125-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 54px auto 0 -37px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -31px 978px 0 7px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 6px 923px 0 7px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: -51px auto 0 234px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -32px 633px 0 278px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 7px 706px 0 278px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: -53px auto 0 531px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -25px 295px 0 575px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 200px 0 575px;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: -52px auto 0 953px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: -25px -12px 0 997px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 -49px 54px 997px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 785px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 730px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 533px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 606px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 195px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 100px;
    margin-left: 642px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 908px;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 908px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 908px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 565px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 510px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 423px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 496px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 85px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-right: 0;
    margin-left: 642px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 642px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 642px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 311px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 384px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-icon-4 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 59px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -32px;
    margin-right: 36px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 51px;
    margin-left: 77px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 62px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-3 {
    width: 190px;
    margin-top: -37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 68px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 70px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1.25rem;
    width: auto;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 62px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -32px;
    margin-right: 44px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: 6px 38px 60px 75px;
  }
}.u-section-3 {
  background-image: none;
  min-height: 723px;
}

.u-section-3 .u-image-1 {
  width: 353px;
  height: 353px;
  margin: 52px calc(((100% - 1140px) / 2) + -108px) 0 auto;
}

.u-section-3 .u-image-2 {
  width: 359px;
  height: 359px;
  animation-duration: 1000ms;
  margin: -298px calc(((100% - 1140px) / 2) + 348px) 0 auto;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 3rem;
  font-style: normal;
  margin: -313px calc(((100% - 1140px) / 2) + 401px) 0 calc(((100% - 1140px) / 2) + 318px);
}

.u-section-3 .u-custom-html-1 {
  min-height: 360px;
  margin-top: -52px;
  margin-bottom: 0;
  margin-left: 0;
  width: 367px;
}

.u-section-3 .u-text-2 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -285px calc(((100% - 1140px) / 2) + 57px) 0 calc(((100% - 1140px) / 2) + 318px);
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 40px calc(((100% - 1140px) / 2) + 57px) 0 calc(((100% - 1140px) / 2) + 318px);
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 26px calc(((100% - 1140px) / 2) + 575px) 60px calc(((100% - 1140px) / 2) + 318px);
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 811px;
    margin-right: calc(((100% - 1140px) / 2) + -156px);
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + -156px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -904px;
    margin-right: calc(((100% - 1140px) / 2) + 327px);
    margin-left: calc(((100% - 1140px) / 2) + 549px);
  }

  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-top: -118px;
    margin-right: calc(((100% - 1140px) / 2) + 916px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 153px);
    margin-left: calc(((100% - 1140px) / 2) + 549px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 166px;
    margin-right: calc(((100% - 1140px) / 2) + 529px);
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 549px);
    margin-bottom: 0;
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-1 {
    margin-top: 23727px;
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 4913px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: -25px;
    margin-right: calc(((100% - 1140px) / 2) + 930px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-2 {
    font-size: 3rem;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 100px;
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 243px);
    margin-left: calc(((100% - 1140px) / 2) + 522px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-top: 23029px;
    margin-right: calc(((100% - 1140px) / 2) + 44px);
  }

  .u-section-3 .u-image-2 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 280px);
  }

  .u-section-3 .u-text-1 {
    margin-top: 5980px;
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-custom-html-1 {
    margin-right: calc(((100% - 1140px) / 2) + 840px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 679px);
    margin-left: calc(((100% - 1140px) / 2) + 461px);
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 12px;
  }

  .u-section-3 .u-image-1 {
    margin-top: -2353px;
    margin-right: calc(((100% - 340px) / 2) + -486px);
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -3549px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
    margin-top: -9579px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-custom-html-1 {
    width: 340px;
    margin-top: -457px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
    margin-top: 142px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 44px;
    margin-right: calc(((100% - 340px) / 2) + -11px);
    margin-left: 50px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin: 21px calc(((100% - 340px) / 2) + 94px) 60px 50px;
  }
}.u-section-4 {
  background-image: none;
  min-height: 846px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 16px auto 0 80px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: -29px calc(((100% - 1140px) / 2) + 533px) 0 80px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px calc(((100% - 1140px) / 2) + 630px) 0 80px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 16px calc(((100% - 1140px) / 2) + 1012px) 0 calc(((100% - 1140px) / 2) + 35px);
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 280px auto 0 calc(((100% - 1140px) / 2) + 68px);
  padding: 17px 81px 17px 80px;
}

.u-section-4 .u-image-2 {
  width: 472px;
  height: 727px;
  margin: -608px calc(((100% - 1140px) / 2) + 34px) 0 auto;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
    margin-right: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 529px);
    margin-left: calc(((100% - 1140px) / 2) + 135px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 912px);
    margin-left: calc(((100% - 1140px) / 2) + 135px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 77px;
    margin-left: calc(((100% - 1140px) / 2) + 332px);
  }

  .u-section-4 .u-image-2 {
    height: 726px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-4 .u-line-1 {
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 419px);
    margin-left: calc(((100% - 1140px) / 2) + 245px);
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 756px);
    margin-left: calc(((100% - 1140px) / 2) + 245px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 195px;
    margin-left: calc(((100% - 1140px) / 2) + 305px);
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-4 .u-line-1 {
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 329px);
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 666px);
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-4 .u-line-1 {
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 1248px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 13px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -36px;
    margin-right: 104px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 29px;
    margin-right: 104px;
    margin-left: 50px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 36px;
    margin-right: calc(((100% - 340px) / 2) + 227px);
    margin-left: 50px;
  }

  .u-section-4 .u-btn-1 {
    width: 272px;
    margin-top: 211px;
    margin-left: 50px;
  }

  .u-section-4 .u-image-2 {
    height: 523px;
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: 29px;
    margin-bottom: 1px;
  }
}.u-section-5 {
  min-height: 565px;
}

.u-section-5 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 18px auto 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  margin: -14px calc(((100% - 1140px) / 2) + 712px) 0 111px;
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 11px calc(((100% - 1140px) / 2) + 678px) 0 111px;
}

.u-section-5 .u-image-2 {
  width: 174px;
  height: 145px;
  margin: -141px auto 0 calc(((100% - 1140px) / 2) + 483px);
}

.u-section-5 .u-image-3 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-5 .u-image-4 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 288px) 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 21px calc(((100% - 1140px) / 2) + 678px) 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-5 .u-image-5 {
  width: 174px;
  height: 145px;
  margin: -114px auto 0 calc(((100% - 1140px) / 2) + 483px);
}

.u-section-5 .u-image-6 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-5 .u-image-7 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 288px) 0 auto;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 65px;
  margin-bottom: 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 441px);
    margin-right: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 686px);
    margin-left: calc(((100% - 1140px) / 2) + 131px);
  }

  .u-section-5 .u-image-2 {
    height: 146px;
  }

  .u-section-5 .u-image-3 {
    height: 146px;
    margin-top: 106px;
    margin-right: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-5 .u-image-4 {
    height: 146px;
    margin-top: -146px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 483px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -229px;
    margin-right: calc(((100% - 1140px) / 2) + 960px);
    margin-left: calc(((100% - 1140px) / 2) + 153px);
  }

  .u-section-5 .u-image-5 {
    height: 146px;
  }

  .u-section-5 .u-image-6 {
    height: 146px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-5 .u-image-7 {
    height: 146px;
    margin-top: -146px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 483px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 576px);
    margin-left: calc(((100% - 1140px) / 2) + 241px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 85px;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-image-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-right: calc(((100% - 1140px) / 2) + 570px);
    margin-left: calc(((100% - 1140px) / 2) + 263px);
  }

  .u-section-5 .u-image-5 {
    margin-top: 27px;
    margin-right: calc(((100% - 1140px) / 2) + 377px);
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 377px);
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    margin-top: -312px;
    margin-right: calc(((100% - 1140px) / 2) + 377px);
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 486px);
    margin-left: calc(((100% - 1140px) / 2) + 331px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 34px;
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 386px);
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -313px;
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-5 .u-image-5 {
    margin-top: -114px;
    margin-right: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-7 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-line-1 {
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-5 {
    min-height: 1140px;
  }

  .u-section-5 .u-image-1 {
    margin-top: -14px;
    margin-left: calc(((100% - 340px) / 2) + -9px);
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -38px;
    margin-right: calc(((100% - 340px) / 2) + 82px);
    margin-left: 50px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 26px;
    margin-left: calc(((100% - 1140px) / 2) + 391px);
    margin-right: calc(((100% - 1140px) / 2) + 391px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 285px;
    margin-right: 220px;
    margin-left: calc(((100% - 340px) / 2) + -4px);
  }

  .u-section-5 .u-image-3 {
    margin-top: 0;
    margin-right: 220px;
    margin-left: calc(((100% - 340px) / 2) + -4px);
  }

  .u-section-5 .u-image-4 {
    margin-top: 0;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2) + -4px);
  }

  .u-section-5 .u-text-3 {
    width: 340px;
    margin-top: -707px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-5 {
    margin-top: 117px;
    margin-right: calc(((100% - 340px) / 2) + -4px);
  }

  .u-section-5 .u-image-6 {
    margin-top: 0;
    margin-right: 46px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 0;
    margin-right: 46px;
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    margin-top: 28px;
    margin-bottom: 40px;
  }
}.u-block-5c53-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5c53-3 {
  position: absolute;
  left: 0;
}

.u-block-5c53-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 249px;
  right: calc(((100% - 1140px) / 2)  + -65px);
}

@media (max-width: 1199px) {
  .u-block-5c53-4 {
    right: calc(((100% - 940px) / 2)  + -54px);
  }
}

@media (max-width: 991px) {
  .u-block-5c53-4 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-5c53-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-5c53-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 756px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 139px 527px 0 18px;
}

.u-section-7 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-style: normal;
  margin: -117px 690px 0 141px;
}

.u-section-7 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 90px 817px 0 269px;
}

.u-section-7 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -309px auto 0 210px;
}

.u-section-7 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: -86px -256px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 262px;
  height: 262px;
  animation-duration: 1000ms;
  margin: -353px auto 0 361px;
}

.u-section-7 .u-repeater-1 {
  min-height: 422px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  margin-top: -26px;
  margin-bottom: 57px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-image-4 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-7 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-image-5 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-7 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 30px;
}

.u-section-7 .u-image-6 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-7 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-7 .u-text-9 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: 20px;
    margin-left: 192px;
    margin-right: 209px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-7 .u-image-1 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 348px;
    height: auto;
  }

  .u-section-7 .u-image-4 {
    margin-top: 118px;
    margin-right: initial;
  }

  .u-section-7 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 37px;
  }

  .u-section-7 .u-image-5 {
    margin-right: initial;
  }

  .u-section-7 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-7 .u-image-6 {
    margin-right: initial;
  }

  .u-section-7 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -441px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -108px;
    margin-right: -226px;
    margin-left: auto;
  }

  .u-section-7 .u-image-3 {
    margin-top: -394px;
    margin-right: 183px;
    margin-left: 361px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 800px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 170px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-7 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-7 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-7 .u-image-6 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-7 .u-text-1 {
    margin-top: 96px;
    margin-right: 221px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-right: 486px;
    margin-left: 0;
  }

  .u-section-7 .u-image-1 {
    margin-top: -448px;
  }

  .u-section-7 .u-image-2 {
    margin-top: -57px;
    margin-right: -237px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -444px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 1172px;
    grid-template-columns: 100%;
    margin-top: 163px;
    margin-bottom: 0;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-6 {
    margin-top: 22px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 145px;
    margin-right: 21px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 31px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -356px;
    margin-left: auto;
  }

  .u-section-7 .u-image-2 {
    margin-right: -256px;
  }

  .u-section-7 .u-image-3 {
    margin-top: -142px;
    margin-left: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 920px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-7 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-7 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-7 .u-text-9 {
    margin-top: 12px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-8 .u-form-1 {
  height: 77px;
  margin: 6px 0 0 485px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-8 .u-line-2 {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  margin-right: 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 969px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 453px 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 38px 0 922px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 922px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  margin: -56px 0 0 922px;
}

.u-section-8 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -56px auto 0 464px;
}

.u-section-8 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: 14px auto 0 464px;
}

.u-section-8 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: 14px auto 60px 464px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 7px;
    margin-right: 125px;
    margin-left: 160px;
  }

  .u-section-8 .u-line-2 {
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: 59px;
    margin-right: 769px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 353px;
    margin-right: 353px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 722px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 722px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 53px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 549px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 243px;
    margin-right: 243px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 502px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -61px;
    margin-right: -23px;
    margin-left: 525px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -51px;
    margin-left: 243px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 243px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 256px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: -243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-2 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 96px;
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 140px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: -294px;
    margin-right: 322px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 251px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -235px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 188px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    height: 140px;
    margin-top: -178px;
    margin-left: 20px;
  }

  .u-section-8 .u-line-2 {
    margin-top: -164px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    width: 171px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 158px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-8 .u-text-4 {
    width: 218px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: 218px;
    margin-top: -391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 85px;
    margin-left: 52px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 52px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 20px;
    margin-left: 52px;
  }
}