.u-section-1-1 {
  background-image: url("images/slidebar1.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  margin: 246px 613px 0 60px;
}

.u-section-1-1 .u-text-2 {
  margin: 14px auto 0 60px;
}

.u-section-1-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 114px auto 60px 60px;
  padding: 17px 81px 17px 80px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-1 .u-text-1 {
    margin-right: 473px;
    margin-left: 49px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 49px;
  }

  .u-section-1-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-1 .u-text-1 {
    width: auto;
    margin-top: 38px;
    margin-right: 253px;
    margin-left: 38px;
  }

  .u-section-1-1 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 34px;
    margin-right: 73px;
    margin-left: 14px;
  }

  .u-section-1-1 .u-text-2 {
    margin-right: 252px;
    margin-left: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    background-position: 100% 50%;
  }

  .u-section-1-1 .u-sheet-1 {
    min-height: 517px;
  }

  .u-section-1-1 .u-text-1 {
    margin-top: 369px;
    margin-right: 14px;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-btn-1 {
    margin: 16px -38px 33px auto;
    padding: 1px 0 2px;
  }
}.u-section-1-2 {
  background-image: url("images/slidebar2.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  margin: 316px 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 27px 15px 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 103px auto 60px 10px;
  padding: 17px 81px 17px 80px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1-2 .u-text-1 {
    margin-left: 16px;
  }

  .u-section-1-2 .u-text-2 {
    margin-right: 0;
    margin-left: 25px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1-2 .u-text-1 {
    width: auto;
    margin-top: 28px;
    margin-left: 12px;
  }

  .u-section-1-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-left: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 7px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 {
    background-position: 100% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 295px;
  }

  .u-section-1-2 .u-text-1 {
    margin-top: 6px;
    margin-left: -25px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 0;
    margin-right: 227px;
    margin-left: -25px;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 109px;
    margin-bottom: 36px;
    padding: 0 0 4px;
  }
}.u-section-7-1 {
  background-image: none;
}

.u-section-7-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7-1 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -194px 548px 0 480px;
}

.u-section-7-1 .u-text-2 {
  margin: -117px 0 60px 457px;
}

@media (max-width: 1199px) {
  .u-section-7-1 .u-text-1 {
    margin-top: -195px;
    margin-right: 448px;
    margin-left: 396px;
  }

  .u-section-7-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 448px;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-1 .u-image-1 {
    width: 281px;
    height: 281px;
    margin-top: 83px;
  }

  .u-section-7-1 .u-text-1 {
    width: auto;
    margin-top: -88px;
    margin-right: -312px;
    margin-left: 327px;
  }

  .u-section-7-1 .u-text-2 {
    width: auto;
    margin-top: -166px;
    margin-right: 15px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-7-1 .u-text-1 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 227px;
  }

  .u-section-7-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-7-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 59px;
    margin-left: 84px;
  }

  .u-section-7-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }
}.u-section-7-2 {
  background-image: none;
}

.u-section-7-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-7-2 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-2 .u-text-1 {
  margin: -279px 15px 0 442px;
}

.u-section-7-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px -458px 60px 458px;
}

@media (max-width: 1199px) {
  .u-section-7-2 .u-text-1 {
    margin-top: -474px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-7-2 .u-text-2 {
    margin-top: 209px;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-7-2 .u-image-1 {
    width: 265px;
    height: 265px;
  }

  .u-section-7-2 .u-text-1 {
    width: auto;
    margin-top: -210px;
    margin-right: 15px;
    margin-left: 299px;
  }

  .u-section-7-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 9px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-7-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;
  }

  .u-section-7-2 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-7-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-7-2 .u-image-1 {
    height: 271px;
    width: 271px;
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-7-2 .u-text-1 {
    margin-top: 54px;
    margin-right: 0;
  }

  .u-section-7-2 .u-text-2 {
    margin: -159px 60px 0 83px;
  }
}.u-section-7-3 {
  background-image: none;
}

.u-section-7-3 .u-sheet-1 {
  min-height: 425px;
}

.u-section-7-3 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-7-3 .u-text-1 {
  margin: -328px 0 0 457px;
}

.u-section-7-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px -467px 60px 467px;
}

@media (max-width: 1199px) {
  .u-section-7-3 .u-text-1 {
    margin-top: -523px;
    margin-left: 257px;
  }

  .u-section-7-3 .u-text-2 {
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-7-3 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-7-3 .u-text-1 {
    margin-top: -390px;
    margin-left: 37px;
  }

  .u-section-7-3 .u-text-2 {
    width: auto;
    margin-top: 232px;
    margin-right: 15px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-7-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7-3 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-7-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-7-3 .u-image-1 {
    margin-top: 44px;
    margin-left: 31px;
  }

  .u-section-7-3 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-7-3 .u-text-2 {
    width: 197px;
    margin: -175px auto 0;
  }
}.u-block-2125-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-2125-5 {
  position: absolute;
  left: 0;
  width: 65px;
  height: 65px;
  right: auto;
}

.u-block-2125-4 {
  position: absolute;
  right: 0;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 153px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 56px auto 0 72px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -25px 869px 0 116px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 868px 0 116px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: -51px auto 0 343px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -25px 598px 0 387px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 597px 0 387px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: -52px auto 0 642px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -25px 299px 0 686px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 298px 0 686px;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: -52px auto 0 924px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: -25px 17px 0 968px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0 16px 44px 968px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 769px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 768px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 498px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 497px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 199px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 198px;
    margin-left: 642px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 908px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 908px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 908px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 565px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 564px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 388px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 387px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 89px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 88px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 20px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 642px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 642px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 384px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 298px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 297px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 508px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 508px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-8 {
    margin-left: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 57px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 113px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 85px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 18px;
    margin-left: 75px;
  }

  .u-section-2 .u-text-3 {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 190px;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 26px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-left: 70px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 19px;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 38px;
    margin-left: 71px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-right: 114px;
    margin-left: auto;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin: 19px 113px 57px auto;
  }
}.u-section-3 {
  background-image: none;
  min-height: 707px;
}

.u-section-3 .u-custom-html-1 {
  min-height: 567px;
  margin: 150px calc(((100% - 1140px) / 2) + 1020px) 0 calc(((100% - 1140px) / 2));
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: -567px calc(((100% - 1140px) / 2) + 90px) 0 calc(((100% - 1140px) / 2) + 455px);
}

.u-section-3 .u-text-2 {
  font-style: italic;
  animation-duration: 1000ms;
  font-size: 3rem;
  margin: 30px calc(((100% - 1140px) / 2) + 264px) 0 calc(((100% - 1140px) / 2) + 455px);
}

.u-section-3 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  margin: 30px calc(((100% - 1140px) / 2) + 590px) 0 calc(((100% - 1140px) / 2) + 423px);
}

.u-section-3 .u-text-4 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  text-decoration: underline !important;
  margin: 90px calc(((100% - 1140px) / 2) + 432px) 0 calc(((100% - 1140px) / 2) + 461px);
}

.u-section-3 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -500px auto 0 calc(((100% - 1140px) / 2) + 443px);
}

.u-section-3 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: 55px calc(((100% - 1140px) / 2) + -256px) 0 auto;
}

.u-section-3 .u-image-3 {
  width: 359px;
  height: 359px;
  animation-duration: 1000ms;
  margin: -579px calc(((100% - 1140px) / 2) + 128px) 0 auto;
}

.u-section-3 .u-line-1 {
  width: 122px;
  height: 11px;
  transform-origin: left center 0px;
  margin: -234px auto 0 calc(((100% - 1140px) / 2) + 147px);
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px calc(((100% - 1140px) / 2) + 1003px) 0 calc(((100% - 1140px) / 2) + 33px);
}

.u-section-3 .u-text-6 {
  font-size: 1.25rem;
  margin: -21px calc(((100% - 1140px) / 2) + 1219px) 0 calc(((100% - 1140px) / 2) + -104px);
}

.u-section-3 .u-line-2 {
  height: 3px;
  margin-top: 517px;
  margin-bottom: 36px;
  transform-origin: left center 0px;
  border-style: dotted;
}

@media (max-width: 1199px) {
  .u-section-3 .u-custom-html-1 {
    height: auto;
    margin-right: calc(((100% - 1140px) / 2) + 916px);
    margin-left: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 153px);
    margin-left: calc(((100% - 1140px) / 2) + 549px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 327px);
    margin-left: calc(((100% - 1140px) / 2) + 549px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 529px);
    margin-left: calc(((100% - 1140px) / 2) + 406px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 549px);
    margin-left: calc(((100% - 1140px) / 2) + 502px);
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 426px);
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + -156px);
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 100px);
  }

  .u-section-3 .u-line-1 {
    margin-left: calc(((100% - 1140px) / 2) + 247px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 235px);
    margin-left: calc(((100% - 1140px) / 2) + 906px);
  }

  .u-section-3 .u-text-6 {
    margin-right: calc(((100% - 1140px) / 2) + 999px);
    margin-left: calc(((100% - 1140px) / 2) + 141px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: calc(((100% - 1140px) / 2) + 930px);
    margin-left: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-text-2 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    margin-left: calc(((100% - 1140px) / 2) + 554px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 243px);
    margin-left: calc(((100% - 1140px) / 2) + 522px);
  }

  .u-section-3 .u-image-1 {
    margin-right: calc(((100% - 1140px) / 2) + 415px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 260px);
  }

  .u-section-3 .u-image-3 {
    margin-right: calc(((100% - 1140px) / 2) + 210px);
  }

  .u-section-3 .u-line-1 {
    margin-left: calc(((100% - 1140px) / 2) + 357px);
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 251px);
    margin-left: calc(((100% - 1140px) / 2) + 786px);
  }

  .u-section-3 .u-text-6 {
    margin-right: 1009px;
    margin-left: 52px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-custom-html-1 {
    margin-right: calc(((100% - 1140px) / 2) + 840px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-1 {
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 521px);
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-text-4 {
    margin-right: calc(((100% - 1140px) / 2) + 679px);
    margin-left: calc(((100% - 1140px) / 2) + 461px);
  }

  .u-section-3 .u-image-1 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 300px);
  }

  .u-section-3 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 44px);
  }

  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 280px);
  }

  .u-section-3 .u-line-1 {
    margin-right: 1028px;
    margin-left: 147px;
  }

  .u-section-3 .u-text-5 {
    margin-right: calc(((100% - 1140px) / 2) + 422px);
    margin-left: calc(((100% - 1140px) / 2) + 718px);
  }

  .u-section-3 .u-text-6 {
    margin-right: 919px;
    margin-left: 39px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 688px;
  }

  .u-section-3 .u-custom-html-1 {
    margin-top: 81px;
    margin-right: calc(((100% - 1140px) / 2) + 740px);
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-1 {
    margin-top: -187px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 12px;
    margin-right: calc(((100% - 1140px) / 2) + 400px);
    margin-left: calc(((100% - 1140px) / 2) + 423px);
  }

  .u-section-3 .u-text-4 {
    margin-top: 63px;
    margin-right: calc(((100% - 1140px) / 2) + 447px);
    margin-left: calc(((100% - 1140px) / 2) + 447px);
  }

  .u-section-3 .u-image-1 {
    margin-top: -475px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: -482px;
    margin-right: calc(((100% - 1140px) / 2) + 180px);
  }

  .u-section-3 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-3 .u-line-1 {
    margin-top: -639px;
    margin-right: calc(((100% - 1140px) / 2) + 471px);
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: 258px;
    margin-top: -11px;
    margin-left: calc(((100% - 1140px) / 2) + 441px);
    margin-right: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 {
  background-image: none;
  min-height: 807px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 16px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: -29px calc(((100% - 1140px) / 2) + 533px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px calc(((100% - 1140px) / 2) + 630px) 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 16px calc(((100% - 1140px) / 2) + 1012px) 0 calc(((100% - 1140px) / 2) + 35px);
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 280px auto 0 calc(((100% - 1140px) / 2) + 68px);
  padding: 17px 81px 17px 80px;
}

.u-section-4 .u-image-2 {
  width: 472px;
  height: 727px;
  margin: -608px calc(((100% - 1140px) / 2) + 34px) 0 auto;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 416px);
    margin-right: calc(((100% - 1140px) / 2) + 416px);
  }

  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 529px);
    margin-left: calc(((100% - 1140px) / 2) + 135px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 912px);
    margin-left: calc(((100% - 1140px) / 2) + 135px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 77px;
    margin-left: calc(((100% - 1140px) / 2) + 332px);
  }

  .u-section-4 .u-image-2 {
    height: 726px;
    margin-right: calc(((100% - 1140px) / 2) + 100px);
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 419px);
    margin-left: calc(((100% - 1140px) / 2) + 245px);
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-right: calc(((100% - 1140px) / 2) + 756px);
    margin-left: calc(((100% - 1140px) / 2) + 245px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 195px;
    margin-left: calc(((100% - 1140px) / 2) + 305px);
  }

  .u-section-4 .u-image-2 {
    margin-top: 20px;
    margin-right: calc(((100% - 1140px) / 2) + 210px);
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 329px);
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-4 .u-text-3 {
    margin-right: calc(((100% - 1140px) / 2) + 666px);
    margin-left: calc(((100% - 1140px) / 2) + 335px);
  }

  .u-section-4 .u-image-2 {
    margin-right: calc(((100% - 1140px) / 2) + 300px);
    margin-bottom: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    min-height: 604px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 13px;
    margin-left: calc(((100% - 1140px) / 2) + 496px);
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -36px;
    margin-left: calc(((100% - 1140px) / 2) + 427px);
    margin-right: calc(((100% - 1140px) / 2) + 427px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 29px;
    margin-left: calc(((100% - 1140px) / 2) + 427px);
    margin-right: calc(((100% - 1140px) / 2) + 427px);
  }

  .u-section-4 .u-text-3 {
    width: 113px;
    margin-top: 36px;
    margin-left: calc(((100% - 1140px) / 2) + 514px);
    margin-right: calc(((100% - 1140px) / 2) + 514px);
  }

  .u-section-4 .u-btn-1 {
    margin-top: 793px;
    margin-left: calc(((100% - 1140px) / 2) + 434px);
  }

  .u-section-4 .u-image-2 {
    height: 523px;
    margin-top: -836px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 {
  min-height: 526px;
}

.u-section-5 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2) + 442px);
}

.u-section-5 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  margin: 7px calc(((100% - 1140px) / 2) + 691px) 0 calc(((100% - 1140px) / 2) + 52px);
}

.u-section-5 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 8px calc(((100% - 1140px) / 2) + 727px) 0 calc(((100% - 1140px) / 2) + 31px);
}

.u-section-5 .u-image-2 {
  width: 174px;
  height: 145px;
  margin: -89px auto 0 calc(((100% - 1140px) / 2) + 483px);
}

.u-section-5 .u-image-3 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-5 .u-image-4 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 288px) 0 auto;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 21px calc(((100% - 1140px) / 2) + 1000px) 0 calc(((100% - 1140px) / 2) + 61px);
}

.u-section-5 .u-image-5 {
  width: 174px;
  height: 145px;
  margin: -38px auto 0 calc(((100% - 1140px) / 2) + 483px);
}

.u-section-5 .u-image-6 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 93px) 0 auto;
}

.u-section-5 .u-image-7 {
  width: 174px;
  height: 145px;
  margin: -145px calc(((100% - 1140px) / 2) + 288px) 0 auto;
}

.u-section-5 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-5 .u-text-1 {
    margin-left: calc(((100% - 1140px) / 2) + 441px);
    margin-right: calc(((100% - 1140px) / 2) + 441px);
  }

  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 686px);
    margin-left: calc(((100% - 1140px) / 2) + 131px);
  }

  .u-section-5 .u-image-2 {
    height: 146px;
  }

  .u-section-5 .u-image-3 {
    height: 146px;
    margin-top: 106px;
    margin-right: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-5 .u-image-4 {
    height: 146px;
    margin-top: -146px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 483px);
  }

  .u-section-5 .u-text-3 {
    margin-top: -229px;
    margin-right: calc(((100% - 1140px) / 2) + 960px);
    margin-left: calc(((100% - 1140px) / 2) + 153px);
  }

  .u-section-5 .u-image-5 {
    height: 146px;
  }

  .u-section-5 .u-image-6 {
    height: 146px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 393px);
  }

  .u-section-5 .u-image-7 {
    height: 146px;
    margin-top: -146px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 483px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 576px);
    margin-left: calc(((100% - 1140px) / 2) + 241px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 85px;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-image-3 {
    margin-top: 21px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-image-4 {
    margin-left: calc(((100% - 1140px) / 2) + 377px);
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-right: calc(((100% - 1140px) / 2) + 570px);
    margin-left: calc(((100% - 1140px) / 2) + 263px);
  }

  .u-section-5 .u-image-5 {
    margin-top: 27px;
    margin-right: calc(((100% - 1140px) / 2) + 377px);
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 377px);
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    margin: -312px calc(((100% - 1140px) / 2) + 377px) 60px auto;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-2 {
    margin-right: calc(((100% - 1140px) / 2) + 486px);
    margin-left: calc(((100% - 1140px) / 2) + 331px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 34px;
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-4 {
    margin-right: calc(((100% - 1140px) / 2) + 386px);
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: -313px;
    margin-left: calc(((100% - 1140px) / 2) + 353px);
  }

  .u-section-5 .u-image-5 {
    margin-top: -38px;
    margin-right: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 386px);
  }

  .u-section-5 .u-image-7 {
    margin: 21px auto 0 calc(((100% - 1140px) / 2) + 386px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    margin-top: -14px;
    margin-left: calc(((100% - 1140px) / 2) + 495px);
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: -45px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-left: calc(((100% - 1140px) / 2) + 391px);
    margin-right: calc(((100% - 1140px) / 2) + 391px);
  }

  .u-section-5 .u-image-2 {
    margin-top: 98px;
    margin-left: calc(((100% - 1140px) / 2) + 398px);
  }

  .u-section-5 .u-image-3 {
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: calc(((100% - 1140px) / 2) + 403px);
  }

  .u-section-5 .u-text-3 {
    width: 203px;
    margin-top: -558px;
    margin-left: calc(((100% - 1140px) / 2) + 469px);
    margin-right: calc(((100% - 1140px) / 2) + 469px);
  }

  .u-section-5 .u-image-5 {
    margin-top: 41px;
    margin-right: calc(((100% - 1140px) / 2) + 398px);
  }

  .u-section-5 .u-image-6 {
    margin-right: calc(((100% - 1140px) / 2) + 400px);
  }

  .u-section-5 .u-image-7 {
    margin-right: calc(((100% - 1140px) / 2) + 403px);
    margin-bottom: 60px;
    margin-left: auto;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 139px 527px 0 18px;
}

.u-section-6 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-style: normal;
  margin: -117px 690px 0 141px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 90px 817px 0 269px;
}

.u-section-6 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -309px auto 0 210px;
}

.u-section-6 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: -86px -256px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 262px;
  height: 262px;
  animation-duration: 1000ms;
  margin: -353px auto 0 361px;
}

.u-section-6 .u-repeater-1 {
  min-height: 422px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  margin-top: -26px;
  margin-bottom: 57px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 192px;
    margin-right: 209px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 348px;
    height: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: 118px;
    margin-right: initial;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 37px;
  }

  .u-section-6 .u-image-5 {
    margin-right: initial;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-image-6 {
    margin-right: initial;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -441px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -108px;
    margin-right: -226px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -394px;
    margin-right: 183px;
    margin-left: 361px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 800px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 170px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-image-6 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 96px;
    margin-right: 221px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 486px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -448px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -57px;
    margin-right: -237px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -444px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1172px;
    grid-template-columns: 100%;
    margin-top: 163px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 145px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 31px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -356px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    margin-right: -256px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -142px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 920px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 12px;
  }
}.u-block-5c53-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5c53-3 {
  position: absolute;
  left: 0;
}

.u-block-5c53-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 249px;
  right: calc(((100% - 1140px) / 2)  + -65px);
}

@media (max-width: 1199px) {
  .u-block-5c53-4 {
    right: calc(((100% - 940px) / 2)  + -54px);
  }
}

@media (max-width: 991px) {
  .u-block-5c53-4 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-5c53-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-5c53-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 500px;
}

.u-section-8 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-8 .u-form-1 {
  height: 77px;
  margin: 6px 0 0 485px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-8 .u-line-2 {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  margin-right: 0;
}

.u-section-8 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 969px 0 0;
}

.u-section-8 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 453px 0;
}

.u-section-8 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 38px 0 922px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 922px 0 0;
}

.u-section-8 .u-text-5 {
  font-size: 1.125rem;
  margin: -56px 0 0 922px;
}

.u-section-8 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -56px auto 0 464px;
}

.u-section-8 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: 14px auto 0 464px;
}

.u-section-8 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: 14px auto 60px 464px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 7px;
    margin-right: 125px;
    margin-left: 160px;
  }

  .u-section-8 .u-line-2 {
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-top: 59px;
    margin-right: 769px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 353px;
    margin-right: 353px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 722px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 722px;
  }

  .u-section-8 .u-icon-1 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 443px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 53px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 50px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 549px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 243px;
    margin-right: 243px;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-8 .u-text-4 {
    width: auto;
    margin-right: 502px;
  }

  .u-section-8 .u-text-5 {
    width: auto;
    margin-top: -61px;
    margin-right: -23px;
    margin-left: 525px;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -51px;
    margin-left: 243px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 243px;
  }

  .u-section-8 .u-icon-3 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 256px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    margin-top: -243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-line-2 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 96px;
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 140px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-text-4 {
    margin-top: -294px;
    margin-right: 322px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 251px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-1 {
    margin-top: -235px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-8 .u-line-1 {
    margin-top: 188px;
    margin-right: initial;
  }

  .u-section-8 .u-form-1 {
    height: 140px;
    margin-top: -178px;
    margin-left: 20px;
  }

  .u-section-8 .u-line-2 {
    margin-top: -164px;
    margin-right: initial;
  }

  .u-section-8 .u-text-1 {
    width: 171px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: 158px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-8 .u-text-4 {
    width: 218px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-text-5 {
    width: 218px;
    margin-top: -391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-8 .u-icon-1 {
    margin-top: 85px;
    margin-left: 52px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 52px;
  }

  .u-section-8 .u-icon-3 {
    margin-top: 20px;
    margin-left: 52px;
  }
}