html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.u-section-1-1 {
  background-image: url("images/Untitled-2.jpg");
  min-height: 617px;
}

@media (max-width: 1199px) {
  .u-section-1-1 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 {
    min-height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 {
    min-height: 184px;
  }
}.u-section-1-2 {
  background-image: url("images/Untitled-3.jpg");
}

.u-section-1-2 .u-sheet-1 {
  min-height: 617px;
}

.u-section-1-2 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 123px auto 0 0;
}

.u-section-1-2 .u-text-2 {
  margin: 29px auto 0 0;
}

.u-section-1-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 30px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 509px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 293px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 461px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 39px;
  }

  .u-section-1-2 .u-text-2 {
    margin-top: 185px;
    margin-right: 0;
  }

  .u-section-1-2 .u-btn-1 {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 27px;
  }
}.u-section-5-1 {
  background-image: none;
}

.u-section-5-1 .u-sheet-1 {
  min-height: 575px;
}

.u-section-5-1 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-5-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -194px 548px 0 480px;
}

.u-section-5-1 .u-text-2 {
  margin: -117px 0 60px 457px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-text-1 {
    margin-top: -195px;
    margin-right: 448px;
    margin-left: 396px;
  }

  .u-section-5-1 .u-text-2 {
    margin-top: 20px;
    margin-right: 448px;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-image-1 {
    width: 281px;
    height: 281px;
    margin-top: 83px;
  }

  .u-section-5-1 .u-text-1 {
    width: auto;
    margin-top: -88px;
    margin-right: -312px;
    margin-left: 327px;
  }

  .u-section-5-1 .u-text-2 {
    width: auto;
    margin-top: -166px;
    margin-right: 15px;
    margin-left: 327px;
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-text-1 {
    margin-top: -89px;
    margin-right: 0;
    margin-left: 227px;
  }

  .u-section-5-1 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5-1 .u-text-1 {
    margin-top: 7px;
    margin-right: 59px;
    margin-left: 84px;
  }

  .u-section-5-1 .u-text-2 {
    margin-top: 15px;
    margin-right: 0;
  }
}.u-section-5-2 {
  background-image: none;
}

.u-section-5-2 .u-sheet-1 {
  min-height: 575px;
}

.u-section-5-2 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-5-2 .u-text-1 {
  margin: -279px 15px 0 442px;
}

.u-section-5-2 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 7px -458px 60px 458px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-text-1 {
    margin-top: -474px;
    margin-right: 0;
    margin-left: 257px;
  }

  .u-section-5-2 .u-text-2 {
    margin-top: 209px;
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 425px;
  }

  .u-section-5-2 .u-image-1 {
    width: 265px;
    height: 265px;
  }

  .u-section-5-2 .u-text-1 {
    width: auto;
    margin-top: -210px;
    margin-right: 15px;
    margin-left: 299px;
  }

  .u-section-5-2 .u-text-2 {
    width: auto;
    margin-top: 28px;
    margin-right: 9px;
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-text-1 {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: auto;
  }

  .u-section-5-2 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5-2 .u-image-1 {
    height: 271px;
    width: 271px;
    margin-top: 45px;
    margin-left: auto;
  }

  .u-section-5-2 .u-text-1 {
    margin-top: 54px;
    margin-right: 0;
  }

  .u-section-5-2 .u-text-2 {
    margin: -159px 60px 0 83px;
  }
}.u-section-5-3 {
  background-image: none;
}

.u-section-5-3 .u-sheet-1 {
  min-height: 425px;
}

.u-section-5-3 .u-image-1 {
  width: 380px;
  height: 380px;
  background-image: url("images/28876e5432538a34d3439137167fda8fdbc199b6f094bc4247eee93982a8c4a1da964675794623c3b3c8bb870b11ca6a749c9bda6e98f9165d51a9_1280.jpg");
  background-position: 50% 50%;
  margin: 63px auto 0 15px;
}

.u-section-5-3 .u-text-1 {
  margin: -328px 0 0 457px;
}

.u-section-5-3 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 15px -467px 60px 467px;
}

@media (max-width: 1199px) {
  .u-section-5-3 .u-text-1 {
    margin-top: -523px;
    margin-left: 257px;
  }

  .u-section-5-3 .u-text-2 {
    margin-right: 0;
    margin-left: 396px;
  }
}

@media (max-width: 991px) {
  .u-section-5-3 .u-image-1 {
    width: 247px;
    height: 247px;
  }

  .u-section-5-3 .u-text-1 {
    margin-top: -390px;
    margin-left: 37px;
  }

  .u-section-5-3 .u-text-2 {
    width: auto;
    margin-top: 232px;
    margin-right: 15px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-5-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5-3 .u-text-2 {
    margin-right: 0;
    margin-left: 227px;
  }
}

@media (max-width: 575px) {
  .u-section-5-3 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-5-3 .u-image-1 {
    margin-top: 44px;
    margin-left: 31px;
  }

  .u-section-5-3 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-5-3 .u-text-2 {
    width: 197px;
    margin: -175px auto 0;
  }
}.u-block-06e4-5 {
  position: absolute;
  width: 48px;
  height: 10px;
  top: auto;
  bottom: 19px;
}

.u-block-06e4-3 {
  position: absolute;
  left: 0;
  background-image: none;
}

.u-block-06e4-4 {
  position: absolute;
  right: 0;
  background-image: none;
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 160px;
}

.u-section-2 .u-icon-1 {
  height: 32px;
  width: 32px;
  margin: 61px auto 0 13px;
}

.u-section-2 .u-text-1 {
  font-size: 1.125rem;
  margin: -38px 935px 0 52px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 9px 880px 0 52px;
}

.u-section-2 .u-icon-2 {
  height: 32px;
  width: 32px;
  margin: -42px auto 0 257px;
}

.u-section-2 .u-text-3 {
  font-size: 1.125rem;
  margin: -38px 603px 0 309px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 7px 676px 0 309px;
}

.u-section-2 .u-icon-3 {
  height: 32px;
  width: 32px;
  margin: -44px auto 0 541px;
}

.u-section-2 .u-text-5 {
  font-size: 1.125rem;
  margin: -32px 285px 0 586px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 181px 0 595px;
}

.u-section-2 .u-icon-4 {
  height: 32px;
  width: 32px;
  margin: -39px auto 0 919px;
}

.u-section-2 .u-text-7 {
  font-size: 1.125rem;
  margin: -34px 26px 0 960px;
}

.u-section-2 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 2px 13px 56px 960px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 785px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 730px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 503px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 575px;
    margin-left: 343px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 185px;
    margin-left: 642px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 81px;
    margin-left: 642px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 908px;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 908px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-bottom: 54px;
    margin-left: 908px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 565px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 510px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 393px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 465px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 75px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 642px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 0;
    margin-left: 642px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 0;
    margin-left: 642px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 385px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 330px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 303px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 375px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-5 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-icon-4 {
    margin-left: 508px;
  }

  .u-section-2 .u-text-7 {
    margin-right: auto;
    margin-left: 508px;
  }

  .u-section-2 .u-text-8 {
    margin-right: auto;
    margin-left: 508px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 59px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -32px;
    margin-right: 36px;
    margin-left: 77px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: 51px;
    margin-left: 77px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 62px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-3 {
    width: 190px;
    margin-top: -37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    width: 190px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 68px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-right: 0;
    margin-left: 71px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-right: -75px;
    margin-left: 75px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 62px;
    margin-left: 26px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: -32px;
    margin-right: 44px;
    margin-left: 70px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 38px;
    margin-bottom: 60px;
    margin-left: 75px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 846px;
}

.u-section-3 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 16px auto 0 0;
}

.u-section-3 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  margin: -29px 533px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 16px 630px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  margin: 16px 1047px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 280px auto 0 68px;
  padding: 17px 81px 17px 80px;
}

.u-section-3 .u-image-2 {
  width: 472px;
  height: 727px;
  margin: -608px 34px 0 auto;
}

.u-section-3 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  width: 1140px;
  margin: 30px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-left: 416px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 416px;
    margin-right: 416px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 529px;
    margin-left: 135px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 912px;
    margin-left: 135px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 77px;
    margin-left: 332px;
  }

  .u-section-3 .u-image-2 {
    height: 726px;
    margin-right: 100px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-top: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    margin-right: 419px;
    margin-left: 245px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 756px;
    margin-left: 245px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 195px;
    margin-left: 305px;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
    margin-right: 210px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
    margin-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    margin-right: 329px;
    margin-left: 335px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 666px;
    margin-left: 335px;
  }

  .u-section-3 .u-image-2 {
    margin-right: 300px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
    margin-top: 40px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1237px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -39px;
    margin-right: -18px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 5px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 13px;
    margin-right: 190px;
    margin-left: 13px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 237px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    height: 523px;
    width: 340px;
    margin-top: 50px;
    margin-right: auto;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
    margin-top: 29px;
    margin-bottom: 29px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 565px;
}

.u-section-4 .u-image-1 {
  width: 150px;
  height: 150px;
  margin: 18px auto 0 31px;
}

.u-section-4 .u-text-1 {
  animation-duration: 1000ms;
  font-size: 1.875rem;
  margin: -14px 712px 0 31px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 11px 678px 0 31px;
}

.u-section-4 .u-image-2 {
  width: 174px;
  height: 145px;
  margin: -182px 439px 0 auto;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 62px 678px 0 31px;
}

.u-section-4 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  border-style: dotted;
  width: 1140px;
  margin: 65px auto 56px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    margin-left: 441px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 441px;
    margin-right: 441px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 686px;
    margin-left: 131px;
  }

  .u-section-4 .u-image-2 {
    height: 146px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -229px;
    margin-right: 960px;
    margin-left: 153px;
  }

  .u-section-4 .u-line-1 {
    width: 940px;
    margin-bottom: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-2 {
    margin-right: 576px;
    margin-left: 241px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 85px;
    margin-left: 377px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: -378px;
    margin-right: 570px;
    margin-left: 263px;
  }

  .u-section-4 .u-line-1 {
    width: 720px;
    margin-top: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-right: 486px;
    margin-left: 331px;
  }

  .u-section-4 .u-image-2 {
    margin-top: 34px;
    margin-right: 366px;
    margin-left: 386px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -313px;
    margin-left: 353px;
  }

  .u-section-4 .u-line-1 {
    width: 540px;
    margin-top: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 829px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -42px;
    margin-right: 121px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: 231px;
    margin-right: 166px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: 340px;
    margin-top: -361px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-line-1 {
    margin-top: 249px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-block-5c53-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-5c53-3 {
  position: absolute;
  left: 0;
}

.u-block-5c53-4 {
  position: absolute;
  width: 65px;
  height: 65px;
  left: auto;
  top: 249px;
  right: calc(((100% - 1140px) / 2)  + -65px);
}

@media (max-width: 1199px) {
  .u-block-5c53-4 {
    right: calc(((100% - 940px) / 2)  + -54px);
  }
}

@media (max-width: 991px) {
  .u-block-5c53-4 {
    right: calc(((100% - 720px) / 2)  + -41px);
  }
}

@media (max-width: 767px) {
  .u-block-5c53-4 {
    right: calc(((100% - 540px) / 2)  + -31px);
  }
}

@media (max-width: 575px) {
  .u-block-5c53-4 {
    right: calc(((100% - 340px) / 2)  + -20px);
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 139px 527px 0 18px;
}

.u-section-6 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 2.25rem;
  font-style: normal;
  margin: -117px 690px 0 141px;
}

.u-section-6 .u-text-3 {
  font-size: 1.875rem;
  animation-duration: 1000ms;
  font-style: italic;
  margin: 90px 817px 0 269px;
}

.u-section-6 .u-image-1 {
  width: 171px;
  height: 171px;
  margin: -309px auto 0 210px;
}

.u-section-6 .u-image-2 {
  width: 353px;
  height: 353px;
  margin: -86px -36px 0 auto;
}

.u-section-6 .u-image-3 {
  width: 262px;
  height: 262px;
  animation-duration: 1000ms;
  margin: -353px auto 0 361px;
}

.u-section-6 .u-repeater-1 {
  min-height: 422px;
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  margin-top: -26px;
  margin-bottom: 57px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-4 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-5 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-6 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-7 {
  margin: 12px 0 0;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-6 {
  height: 140px;
  margin-top: 79px;
  margin-right: 0;
  margin-bottom: 0;
}

.u-section-6 .u-text-8 {
  margin: 22px 0 0;
}

.u-section-6 .u-text-9 {
  margin: 12px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 681px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 209px;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-left: 192px;
    margin-right: 209px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-image-3 {
    margin-right: 209px;
    margin-left: 192px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 348px;
    height: auto;
  }

  .u-section-6 .u-image-4 {
    margin-top: 118px;
    margin-right: initial;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-5 {
    margin-top: 37px;
  }

  .u-section-6 .u-image-5 {
    margin-right: initial;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-image-6 {
    margin-right: initial;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 160px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -441px;
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -108px;
    margin-right: -226px;
    margin-left: auto;
  }

  .u-section-6 .u-image-3 {
    margin-top: -394px;
    margin-right: 183px;
    margin-left: 361px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 800px;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    margin-top: 170px;
    margin-bottom: 60px;
  }

  .u-section-6 .u-image-4 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-text-5 {
    margin-top: 12px;
  }

  .u-section-6 .u-image-5 {
    margin-top: 0;
    margin-right: initial;
  }

  .u-section-6 .u-image-6 {
    margin-top: 0;
    margin-right: initial;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1574px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 96px;
    margin-right: 221px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 231px;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 486px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-top: -448px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -57px;
    margin-right: -237px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -444px;
    margin-right: auto;
    margin-left: 72px;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 1172px;
    grid-template-columns: 100%;
    margin-top: 163px;
    margin-bottom: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 37px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 22px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1342px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 145px;
    margin-right: 21px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: 24px;
    margin-right: 31px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-top: 17px;
    margin-right: 286px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -356px;
    margin-left: auto;
  }

  .u-section-6 .u-image-2 {
    margin-right: -36px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -142px;
    margin-left: auto;
  }

  .u-section-6 .u-repeater-1 {
    min-height: 920px;
    margin-top: 80px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-7 {
    margin-top: 12px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-6 .u-text-9 {
    margin-top: 12px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-line-1 {
  height: 3px;
  transform-origin: right center 0px;
  margin-top: 14px;
  margin-bottom: 0;
  margin-right: 0;
}

.u-section-7 .u-form-1 {
  height: 77px;
  margin: 6px 0 0 485px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: none;
}

.u-section-7 .u-line-2 {
  height: 3px;
  margin-top: 15px;
  margin-bottom: 0;
  transform-origin: right center 0px;
  margin-right: 0;
}

.u-section-7 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 60px 969px 0 0;
}

.u-section-7 .u-text-2 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 453px 0;
}

.u-section-7 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -39px 38px 0 922px;
}

.u-section-7 .u-text-4 {
  font-size: 1.125rem;
  margin: 20px 922px 0 0;
}

.u-section-7 .u-text-5 {
  font-size: 1.125rem;
  margin: -56px 0 0 922px;
}

.u-section-7 .u-icon-1 {
  height: 26px;
  width: 26px;
  margin: -56px auto 0 464px;
}

.u-section-7 .u-icon-2 {
  height: 26px;
  width: 26px;
  margin: 14px auto 0 464px;
}

.u-section-7 .u-icon-3 {
  height: 26px;
  width: 26px;
  margin: 14px auto 60px 464px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-line-1 {
    margin-right: initial;
  }

  .u-section-7 .u-form-1 {
    margin-top: 7px;
    margin-right: 125px;
    margin-left: 160px;
  }

  .u-section-7 .u-line-2 {
    margin-right: initial;
  }

  .u-section-7 .u-text-1 {
    margin-top: 59px;
    margin-right: 769px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 353px;
    margin-right: 353px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 0;
    margin-left: 760px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 722px;
  }

  .u-section-7 .u-text-5 {
    margin-left: 722px;
  }

  .u-section-7 .u-icon-1 {
    margin-left: 443px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 443px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 516px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 53px;
    margin-right: initial;
  }

  .u-section-7 .u-form-1 {
    margin-top: 20px;
    margin-right: 15px;
    margin-left: 50px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 549px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 243px;
    margin-right: 243px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-left: 525px;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-right: 502px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: -61px;
    margin-right: -23px;
    margin-left: 525px;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -51px;
    margin-left: 243px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 243px;
  }

  .u-section-7 .u-icon-3 {
    margin-left: 243px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 745px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 256px;
    margin-right: initial;
  }

  .u-section-7 .u-form-1 {
    margin-top: -243px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-line-2 {
    margin-top: 12px;
    margin-right: initial;
  }

  .u-section-7 .u-text-1 {
    margin-right: 369px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 96px;
    margin-right: 306px;
    margin-left: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 140px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-7 .u-text-4 {
    margin-top: -294px;
    margin-right: 322px;
  }

  .u-section-7 .u-text-5 {
    margin-top: 251px;
    margin-right: 322px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-1 {
    margin-top: -235px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 16px;
    margin-left: 0;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 13px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 188px;
    margin-right: initial;
  }

  .u-section-7 .u-form-1 {
    height: 140px;
    margin-top: -178px;
    margin-left: 20px;
  }

  .u-section-7 .u-line-2 {
    margin-top: -164px;
    margin-right: initial;
  }

  .u-section-7 .u-text-1 {
    width: 171px;
    margin-top: 174px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-2 {
    margin-top: 99px;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-top: 158px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-7 .u-text-4 {
    width: 218px;
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-5 {
    width: 218px;
    margin-top: -391px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-icon-1 {
    margin-top: 85px;
    margin-left: 52px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 52px;
  }

  .u-section-7 .u-icon-3 {
    margin-top: 20px;
    margin-left: 52px;
  }
}